.filters {
    display: flex;
    gap: 15px;
    padding-block: 24px 42px;
  }
  .filters > span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    padding: 7px 12.32px 6px 12px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
  .filters > span.active {
    background-color: var(--main-color);
    color: var(--white-color);
  }
  