body{
  --main-font-family:Inter;
  --bg-nav-color:#FFFFFF;
  --bg-search-color:#E3E3E3;
  --theme-color:#000000;
  --black-color:#000000;
  --white-color:#FFFFFF;
  --search-color:#666666;
  --main-bg-color:#F5F5F5;
  --main-color: #14B8A6;
  --secondary-undone-color:#A4A4A4;
  --secondary-done-color:#9A9A9A;
  --shadow-bg-color:#4d4d4d4d;
  --bg-input-color:#E6E6E6;
  --bg-undone-color:#FFFFFF;
  --bg-done-color:#E4E4E4;
  --icon-disabled-color:#9A9A9A;
  --icon-undone-color:#A4A4A4;
  --icon-undone-bg-color:#EEEEEE;
  --icon-done-color:#FFFFFF;
}
.dark-theme{
  --main-font-family:Inter;
  --bg-nav-color:#4D4D4D;
  --bg-search-color:#E3E3E3;
  --theme-color:#FFFFFF;
  --black-color:#000000;
  --white-color:#FFFFFF;
  --search-color:#666666;
  --main-bg-color:#333333;
  --main-color: #14B8A6;
  --secondary-undone-color:#A4A4A4;
  --secondary-done-color:#9A9A9A;
  --shadow-bg-color:#4d4d4d4d;
  --bg-input-color:#E6E6E6;
  --bg-undone-color:#1A1A1A;
  --bg-done-color:#4D4D4D;
  --icon-disabled-color:#9A9A9A;
  --icon-undone-color:#14B8A6;
  --icon-undone-bg-color:#9A9A9A;
  --icon-done-color:#FFFFFF;
}
*{
  padding: 0px;
  margin: 0px;
  font-family: var(--main-font-family);
  box-sizing: border-box;
}
body {
  position: relative;
  min-height:100vh;
  height: 100%;
  background-color: var(--main-bg-color);
}
